Repository openfoodfacts/openfoodfacts-dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, 🧪 Tests, 📖 Knowledge panels, Product, 🤖 Robotoff, pubspec, 🌱 Eco-Score, Personalized search, 🔖 Folksonomy engine, 📦 Packaging, 📜 Open Food Facts Events, OxF, 🖼️ Images, 💰 Prices, Search, 🔐 Authentification

.github/labeler.yml:

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

🧪 Tests:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingMaterialsServer_test.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingShapesServer_test.dart'

📖 Knowledge panels:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/knowledge_panel.g.dart'
  - any-glob-to-any-file: 'lib/src/model/knowledge_panel_element.g.dart'

Product:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/product.dart'
  - any-glob-to-any-file: 'lib/src/model/product.g.dart'

🤖 Robotoff:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/robotoff_question.g.dart'

pubspec:
- changed-files:
  - any-glob-to-any-file: 'pubspec.yaml'

🌱 Eco-Score:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/ecoscore_data.g.dart'

Personalized search:
- changed-files:
  - any-glob-to-any-file: 'lib/src/personalized_search/**/*'

🔖 Folksonomy engine:
- changed-files:
  - any-glob-to-any-file: 'lib/src/folksonomy.dart'
  - any-glob-to-any-file: 'test/api_folksonomy_test.dart'
  
📦 Packaging:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingMaterial.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingMaterial.g.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingShape.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingShape.g.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingMaterialsServer_test.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingShapesServer_test.dart'

📜 Open Food Facts Events:
- changed-files:
  - any-glob-to-any-file: 'lib/src/events.dart'

OxF:
- changed-files:
  - any-glob-to-any-file: 'lib/src/utils/server_type.dart'

🖼️ Images:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/product_image.dart'
  - any-glob-to-any-file: 'lib/src/utils/image_helper.dart'
  - any-glob-to-any-file: 'test/api_get_product_image_ids_test.dart'

💰 Prices:
- changed-files:
  - any-glob-to-any-file: 'lib/src/prices/*.dart'
  - any-glob-to-any-file: 'lib/src/open_prices_api_client.dart'
  - any-glob-to-any-file: 'test/api_prices_*.dart'
  - any-glob-to-any-file: 'lib/src/prices/currency.dart'
  - any-glob-to-any-file: 'lib/src/prices/price.dart'
  - any-glob-to-any-file: 'lib/src/prices/proof.dart'
  - any-glob-to-any-file: 'lib/src/prices/proof_type.dart'
  - any-glob-to-any-file: 'test/api_prices_test.dart'

Search:
- changed-files:
  - any-glob-to-any-file: 'test/api_search_products_test.dart'

🔐 Authentification:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/login_status.dart'

chore(master): release 3.17.0 (#985)
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

fix: product_type not included when null
  lib/src/model/product.dart
  lib/src/model/product.g.dart
Labels: Product

fix: for online price locations, no OSM fields
  lib/src/prices/location.dart
  lib/src/prices/location.g.dart
  test/api_prices_test.dart
Labels: 🧪 Tests, 💰 Prices

fix: product_type not included when null (#996)
  lib/src/model/product.dart
  lib/src/model/product.g.dart
Labels: Product

chore(master): release 3.17.1
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

chore(master): release 3.17.1 (#998)
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

feat: 999 - added "bool? product.isImageLocked" method
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/utils/product_fields.dart
  test/api_get_product_test.dart
Labels: 🧪 Tests, Product

Minor fix
  lib/src/model/product.dart
Labels: Product

feat: 999 - added "bool? product.isImageLocked" method (#1000)
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/utils/product_fields.dart
  test/api_get_product_test.dart
Labels: 🧪 Tests, Product

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-dart@8a01b5c9a1a280c96cb936868ed991cd2764fdc7 🚀
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product/Product-class-sidebar.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product/Product-class.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product/Product/getLocalizedImage.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product/Product/getRawImage.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product/Product/isImageLocked.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product/Product/owner.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_utils_product_fields/ProductField-enum-sidebar.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_utils_product_fields/ProductField.html
  index.json
Labels: none
