Repository openfoodfacts/openfoodfacts-dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, 🧪 Tests, 📖 Knowledge panels, Product, 🤖 Robotoff, pubspec, 🌱 Eco-Score, Personalized search, 🔖 Folksonomy engine, 📦 Packaging, 📜 Open Food Facts Events, OxF, 🖼️ Images, 💰 Prices, Search, 🔐 Authentification, Nutri-Patrol

feat: flavor for product types
  lib/src/model/product_type.dart
Labels: none

feat: flavor for product types (#1153)
  lib/src/model/product_type.dart
Labels: none

chore(master): release 3.28.0
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-dart@faa74abe7dc36e963d4b7b106150cb8b651cb5a1 🚀
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product_type/ProductType-enum-sidebar.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product_type/ProductType.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_product_type/ProductType/flavor.html
  index.json
Labels: none

feat: 1156 - external sources first implementation
  lib/openfoodfacts.dart
  lib/src/external/external_source_filter.dart
  lib/src/external/external_source_metadata.dart
  lib/src/external/external_source_product_data.dart
  lib/src/external/json_map.dart
  lib/src/open_food_api_client.dart
  lib/src/prices/maybe_error.dart
  pubspec.yaml
  test/api_external_source.dart
Labels: 🧪 Tests, pubspec, 💰 Prices

chore(master): release 3.28.0
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

feat: 1160 - automatically excluding read-only pseudo nutrients
  lib/src/model/ordered_nutrients.dart
  lib/src/open_food_api_client.dart
  test/ordered_nutrient_test.dart
Labels: 🧪 Tests

feat: added pet food nutrients
  lib/src/model/nutrient.dart
  lib/src/utils/unit_helper.dart
  test/ordered_nutrient_test.dart
Labels: 🧪 Tests

feat: 1134 - added search parameters "unwanted ingredients" and "ingredients filter"
  lib/openfoodfacts.dart
  lib/src/model/parameter/ingredients_filter_parameter.dart
  lib/src/model/parameter/ingredients_unwanted_parameter.dart
  lib/src/utils/product_query_configurations.dart
  test/api_get_product_test.dart
  test/api_search_products_test.dart
Labels: 🧪 Tests, Search

feat: 1158 - num quantity and new quantityString fields in PriceProduct
  lib/openfoodfacts.dart
  lib/src/interface/json_map.dart
  lib/src/prices/flavor.dart
  lib/src/prices/price_product.dart
  lib/src/prices/price_product.g.dart
  test/api_prices_test.dart
Labels: 🧪 Tests, 💰 Prices

.github/labeler.yml:

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

🧪 Tests:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingMaterialsServer_test.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingShapesServer_test.dart'

📖 Knowledge panels:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/knowledge_panel.g.dart'
  - any-glob-to-any-file: 'lib/src/model/knowledge_panel_element.g.dart'

Product:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/product.dart'
  - any-glob-to-any-file: 'lib/src/model/product.g.dart'

🤖 Robotoff:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/robotoff_question.g.dart'
  - any-glob-to-any-file: 'lib/src/model/robotoff_nutrient_extraction.dart'
  - any-glob-to-any-file: 'lib/src/model/robotoff_nutrient_extraction_annotation.dart'
  - any-glob-to-any-file: 'lib/src/model/robotoff_nutrient_extraction_insight.dart'
  - any-glob-to-any-file: 'lib/src/robot_off_api_client.dart'
  - any-glob-to-any-file: 'test/api_get_robotoff_test.dart'
  
pubspec:
- changed-files:
  - any-glob-to-any-file: 'pubspec.yaml'

🌱 Eco-Score:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/ecoscore_data.g.dart'

Personalized search:
- changed-files:
  - any-glob-to-any-file: 'lib/src/personalized_search/**/*'

🔖 Folksonomy engine:
- changed-files:
  - any-glob-to-any-file: 'lib/src/folksonomy.dart'
  - any-glob-to-any-file: 'test/api_folksonomy_test.dart'
  
📦 Packaging:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingMaterial.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingMaterial.g.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingShape.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingShape.g.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingMaterialsServer_test.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingShapesServer_test.dart'

📜 Open Food Facts Events:
- changed-files:
  - any-glob-to-any-file: 'lib/src/events.dart'

OxF:
- changed-files:
  - any-glob-to-any-file: 'lib/src/utils/server_type.dart'

🖼️ Images:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/product_image.dart'
  - any-glob-to-any-file: 'lib/src/utils/image_helper.dart'
  - any-glob-to-any-file: 'test/api_get_product_image_ids_test.dart'

💰 Prices:
- changed-files:
  - any-glob-to-any-file: 'lib/src/prices/*.dart'
  - any-glob-to-any-file: 'lib/src/open_prices_api_client.dart'
  - any-glob-to-any-file: 'test/api_prices_*.dart'
  - any-glob-to-any-file: 'lib/src/prices/currency.dart'
  - any-glob-to-any-file: 'lib/src/prices/price.dart'
  - any-glob-to-any-file: 'lib/src/prices/proof.dart'
  - any-glob-to-any-file: 'lib/src/prices/proof_type.dart'
  - any-glob-to-any-file: 'test/api_prices_test.dart'
  - any-glob-to-any-file: 'lib/src/prices/challenge.dart‎'
  - any-glob-to-any-file: 'lib/src/prices/challenge.g.dart‎'
  - any-glob-to-any-file: '‎lib/src/prices/get_challenges_order.dart‎'
  - any-glob-to-any-file: '‎lib/src/prices/get_challenges_parameters.dart‎'
  - any-glob-to-any-file: '‎lib/src/prices/get_challenges_result.dart‎'
  - any-glob-to-any-file: '‎lib/src/prices/get_challenges_result.g.dart‎'
  - any-glob-to-any-file: '‎lib/src/prices/price_user.dart‎'

Search:
- changed-files:
  - any-glob-to-any-file: 'test/api_search_products_test.dart'

🔐 Authentification:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/login_status.dart'

Nutri-Patrol:
- changed-files:
  - any-glob-to-any-file: 'lib/src/nutripatrol/create_flag.dart'
  - any-glob-to-any-file: 'lib/src/nutripatrol/get_flag.dart'
  - any-glob-to-any-file: 'lib/src/nutripatrol/get_ticket.dart'
  - any-glob-to-any-file: 'lib/src/nutripatrol_api_client.dart'
  - any-glob-to-any-file: 'lib/src/nutripatrol/get_tickets.dart'
  - any-glob-to-any-file: 'lib/src/nutripatrol/update_ticket_status.dart'
  - any-glob-to-any-file: 'lib/src/nutripatrol_api_client.dart'
