Repository openfoodfacts/openfoodfacts-dart, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, 🧪 Tests, 📖 Knowledge panels, Product, 🤖 Robotoff, pubspec, 🌱 Eco-Score, Personalized search, 🔖 Folksonomy engine, 📦 Packaging, 📜 Open Food Facts Events, OxF, 🖼️ Images, 💰 Prices, Search, 🔐 Authentification

fix: 970 - refactored around new Prices API (#971)
  lib/src/open_prices_api_client.dart
  lib/src/prices/price_user.dart
  lib/src/prices/price_user.g.dart
  lib/src/prices/session.dart
  test/api_prices_test.dart
Labels: 🧪 Tests, 💰 Prices

chore(master): release 3.14.0
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-dart@a8c696bae5a0453559b3cf745ec00ec5dcd5d08c 🚀
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_open_prices_api_client/OpenPricesAPIClient-class.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_open_prices_api_client/OpenPricesAPIClient/deleteUserSession.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_open_prices_api_client/OpenPricesAPIClient/updatePrice.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_open_prices_api_client/OpenPricesAPIClient/updateProof.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_prices_price_user/PriceUser-class.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_prices_session/Session-class-sidebar.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_prices_session/Session-class.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_prices_session/Session/invalidActionWithAuthMessage-constant.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_prices_session/Session/invalidActionWithAuthStatusCode-constant.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_prices_session/Session/invalidAuthMessage-constant.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_prices_session/Session/invalidAuthStatusCode-constant.html
  index.json
Labels: none

ci: Prices
  .github/workflows/github-projects.yml
Labels: GitHub Actions

chore(master): release 3.14.0 (#969)
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

feat: 972 - new "product_type" field for Product
  lib/openfoodfacts.dart
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/model/product_type.dart
Labels: Product

ci: Update github-projects.yml (#965)
  .github/workflows/github-projects.yml
Labels: GitHub Actions

feat: 972 - new "product_type" field for Product (#973)
  lib/openfoodfacts.dart
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/model/product_type.dart
Labels: Product

ci: Update github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

ci: Update github-projects.yml (#975)
  .github/workflows/github-projects.yml
Labels: GitHub Actions

chore(master): release 3.15.0
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

chore(master): release 3.15.0 (#974)
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

fix: Update github-projects.yml for OPF
  .github/workflows/github-projects.yml
Labels: GitHub Actions

fix: Update github-projects.yml for OPF (#980)
  .github/workflows/github-projects.yml
Labels: GitHub Actions

feat: 978 - new prices features (thumbnails, stats)
  lib/openfoodfacts.dart
  lib/src/open_prices_api_client.dart
  lib/src/prices/location.dart
  lib/src/prices/location.g.dart
  lib/src/prices/price_product.dart
  lib/src/prices/price_product.g.dart
  lib/src/prices/price_total_stats.dart
  lib/src/prices/price_user.dart
  lib/src/prices/price_user.g.dart
  lib/src/prices/proof.dart
  lib/src/prices/proof.g.dart
  lib/src/prices/proof_type.dart
  test/api_get_product_test.dart
  test/api_prices_test.dart
Labels: 🧪 Tests, 💰 Prices

Typo fix
  lib/src/prices/proof.dart
Labels: 💰 Prices

Forgotten file
  lib/src/prices/price_total_stats.g.dart
Labels: 💰 Prices

feat: 978 - new prices features (thumbnails, stats) (#982)
  lib/openfoodfacts.dart
  lib/src/open_prices_api_client.dart
  lib/src/prices/location.dart
  lib/src/prices/location.g.dart
  lib/src/prices/price_product.dart
  lib/src/prices/price_product.g.dart
  lib/src/prices/price_total_stats.dart
  lib/src/prices/price_total_stats.g.dart
  lib/src/prices/price_user.dart
  lib/src/prices/price_user.g.dart
  lib/src/prices/proof.dart
  lib/src/prices/proof.g.dart
  lib/src/prices/proof_type.dart
  test/api_get_product_test.dart
  test/api_prices_test.dart
Labels: 🧪 Tests, 💰 Prices

chore(master): release 3.16.0
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

chore(master): release 3.16.0 (#981)
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

feat: new web folder structure for images
  lib/openfoodfacts.dart
  lib/src/model/status.dart
  lib/src/open_food_api_client.dart
  lib/src/utils/image_helper.dart
  lib/src/utils/json_helper.dart
  lib/src/utils/pnns_groups.dart
  lib/src/utils/suggestion_manager.dart
  lib/src/utils/uri_helper.dart
Labels: 🖼️ Images

feat: new web folder structure for images (#984)
  lib/openfoodfacts.dart
  lib/src/model/status.dart
  lib/src/open_food_api_client.dart
  lib/src/utils/image_helper.dart
  lib/src/utils/json_helper.dart
  lib/src/utils/pnns_groups.dart
  lib/src/utils/suggestion_manager.dart
  lib/src/utils/uri_helper.dart
Labels: 🖼️ Images

feat: 986 - new Prices fields
  lib/openfoodfacts.dart
  lib/src/open_prices_api_client.dart
  lib/src/prices/location.dart
  lib/src/prices/location.g.dart
  lib/src/prices/location_type.dart
  lib/src/prices/maybe_error.dart
  lib/src/prices/price.dart
  lib/src/prices/price.g.dart
  lib/src/prices/price_total_stats.dart
  lib/src/prices/price_total_stats.g.dart
  lib/src/prices/proof.dart
  lib/src/prices/proof.g.dart
  lib/src/prices/update_price_parameters.dart
  lib/src/prices/update_proof_parameters.dart
  test/api_prices_test.dart
Labels: 🧪 Tests, 💰 Prices

feat: get tickets for nutripatrol
  lib/src/nutripatrol/get_ticket.dart
  lib/src/nutripatrol/get_ticket.g.dart
  lib/src/nutripatrol_api_client.dart
Labels: none

fix: get tickets should be a list
  lib/src/nutripatrol_api_client.dart
Labels: none

fix: use enum to type datas
  lib/src/nutripatrol/get_ticket.dart
  lib/src/nutripatrol/get_ticket.g.dart
  lib/src/nutripatrol_api_client.dart
Labels: none

ci: triage on edit
  .github/workflows/github-projects.yml
Labels: GitHub Actions

feat: 986 - new Prices fields (#987)
  lib/openfoodfacts.dart
  lib/src/open_prices_api_client.dart
  lib/src/prices/location.dart
  lib/src/prices/location.g.dart
  lib/src/prices/location_type.dart
  lib/src/prices/maybe_error.dart
  lib/src/prices/price.dart
  lib/src/prices/price.g.dart
  lib/src/prices/price_total_stats.dart
  lib/src/prices/price_total_stats.g.dart
  lib/src/prices/proof.dart
  lib/src/prices/proof.g.dart
  lib/src/prices/update_price_parameters.dart
  lib/src/prices/update_proof_parameters.dart
  test/api_prices_test.dart
Labels: 🧪 Tests, 💰 Prices

ci: triage on edit (#988)
  .github/workflows/github-projects.yml
Labels: GitHub Actions

chore(master): release 3.17.0
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

feat: create flag type
  lib/src/nutripatrol/create_flag.dart
  lib/src/nutripatrol/create_flag.g.dart
  lib/src/nutripatrol/get_ticket.dart
Labels: none

fix: add generated files
  lib/src/nutripatrol/create_flag.g.dart
  lib/src/nutripatrol/get_ticket.g.dart
Labels: none

feat: add getTicket and getTickets in the sdk
  example/lib/main.dart
  lib/openfoodfacts.dart
  lib/src/nutripatrol/get_ticket.dart
  lib/src/nutripatrol/get_ticket.g.dart
  lib/src/nutripatrol/get_tickets.dart
  lib/src/nutripatrol/get_tickets.g.dart
  lib/src/nutripatrol_api_client.dart
Labels: none

feat: 990 - new knowledge panel "halfWidthOnMobile" field
  lib/src/model/knowledge_panel.dart
  lib/src/model/knowledge_panel.g.dart
  test/api_get_product_test.dart
Labels: 🧪 Tests, 📖 Knowledge panels

feat: 990 - new knowledge panel "halfWidthOnMobile" field (#992)
  lib/src/model/knowledge_panel.dart
  lib/src/model/knowledge_panel.g.dart
  test/api_get_product_test.dart
Labels: 🧪 Tests, 📖 Knowledge panels

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-dart@09d203a78fe8b6cd7267fe711e82e6ce6d2d4f36 🚀
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_knowledge_panel/KnowledgePanel-class-sidebar.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_knowledge_panel/KnowledgePanel-class.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_knowledge_panel/KnowledgePanel/KnowledgePanel.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_model_knowledge_panel/KnowledgePanel/halfWidthOnMobile.html
  index.json
Labels: none

feat: product_type as new product field
  lib/src/utils/product_fields.dart
  test/api_not_food_get_product_test.dart
Labels: 🧪 Tests

feat: product_type as new product field (#994)
  lib/src/utils/product_fields.dart
  test/api_not_food_get_product_test.dart
Labels: 🧪 Tests

chore(master): release 3.17.0
  CHANGELOG.md
  pubspec.yaml
Labels: pubspec

Deploying to gh-pages from @ openfoodfacts/openfoodfacts-dart@12e72b4a399eb270fd4a975a5b7b64c27164f55c 🚀
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_utils_product_fields/ProductField-enum-sidebar.html
  file-___home_runner_work_openfoodfacts-dart_openfoodfacts-dart_lib_src_utils_product_fields/ProductField.html
Labels: none

.github/labeler.yml:

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

🧪 Tests:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingMaterialsServer_test.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingShapesServer_test.dart'

📖 Knowledge panels:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/knowledge_panel.g.dart'
  - any-glob-to-any-file: 'lib/src/model/knowledge_panel_element.g.dart'

Product:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/product.dart'
  - any-glob-to-any-file: 'lib/src/model/product.g.dart'

🤖 Robotoff:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/robotoff_question.g.dart'

pubspec:
- changed-files:
  - any-glob-to-any-file: 'pubspec.yaml'

🌱 Eco-Score:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/ecoscore_data.g.dart'

Personalized search:
- changed-files:
  - any-glob-to-any-file: 'lib/src/personalized_search/**/*'

🔖 Folksonomy engine:
- changed-files:
  - any-glob-to-any-file: 'lib/src/folksonomy.dart'
  - any-glob-to-any-file: 'test/api_folksonomy_test.dart'
  
📦 Packaging:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingMaterial.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingMaterial.g.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingShape.dart'
  - any-glob-to-any-file: 'lib/src/model/TaxonomyPackagingShape.g.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingMaterialsServer_test.dart'
  - any-glob-to-any-file: 'test/api_getTaxonomyPackagingShapesServer_test.dart'

📜 Open Food Facts Events:
- changed-files:
  - any-glob-to-any-file: 'lib/src/events.dart'

OxF:
- changed-files:
  - any-glob-to-any-file: 'lib/src/utils/server_type.dart'

🖼️ Images:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/product_image.dart'
  - any-glob-to-any-file: 'lib/src/utils/image_helper.dart'
  - any-glob-to-any-file: 'test/api_get_product_image_ids_test.dart'

💰 Prices:
- changed-files:
  - any-glob-to-any-file: 'lib/src/prices/*.dart'
  - any-glob-to-any-file: 'lib/src/open_prices_api_client.dart'
  - any-glob-to-any-file: 'test/api_prices_*.dart'
  - any-glob-to-any-file: 'lib/src/prices/currency.dart'
  - any-glob-to-any-file: 'lib/src/prices/price.dart'
  - any-glob-to-any-file: 'lib/src/prices/proof.dart'
  - any-glob-to-any-file: 'lib/src/prices/proof_type.dart'
  - any-glob-to-any-file: 'test/api_prices_test.dart'

Search:
- changed-files:
  - any-glob-to-any-file: 'test/api_search_products_test.dart'

🔐 Authentification:
- changed-files:
  - any-glob-to-any-file: 'lib/src/model/login_status.dart'
