Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2021-12, with the labels that each got.

#319 feat: #306 - unselect product image
  lib/model/ProductImage.dart
  lib/openfoodfacts.dart
  test/api_addProductImage_test.dart
Labels: photo management

#323 Process map elements in knowledge panel
  lib/model/KnowledgePanelElement.dart
  lib/model/KnowledgePanelElement.g.dart
Labels: knowledge panels, maps

#329 feat: Added globalUser to OpenFoodAPIConfiguration
  lib/utils/HttpHelper.dart
  lib/utils/OpenFoodAPIConfiguration.dart
Labels: user account

#337 Start PR labelling automation
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github_actions
