Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2022-02, with the labels that each got.

#380 feat: #379 - added packaging_text_XX
  lib/model/Product.dart
  lib/model/Product.g.dart
  lib/utils/ProductFields.dart
  lib/utils/ProductHelper.dart
  test/api_getProduct_test.dart
Labels: packaging

#386 feat: #349 - added support for Events API
  lib/events.dart
  lib/model/BadgeBase.dart
  lib/model/BadgeBase.g.dart
  lib/model/EventCreate.dart
  lib/model/EventCreate.g.dart
  lib/model/EventsBase.dart
  lib/model/EventsBase.g.dart
  lib/model/LeaderboardEntry.dart
  lib/model/LeaderboardEntry.g.dart
  lib/openfoodfacts.dart
  lib/utils/JsonHelper.dart
  lib/utils/OpenFoodAPIConfiguration.dart
  lib/utils/UriHelper.dart
  test/api_events_test.dart
Labels: gamification

#389 ci: Add CODEOWNERS for PR reviews
  .github/CODEOWNERS
Labels: github_actions

#390 Make dependabot semantic
  .github/dependabot.yml
Labels: github_actions

#388 ci: Add an action to check for semantic PRs titles
  .github/workflows/semantic-pr.yml
Labels: github_actions
