Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2022-12, with the labels that each got.

#639 fix: 575 - less expected populated fields from Robotoff
  test/api_getRobotoff_test.dart
Labels: robotoff

#657 ci: Re-add dart doc
  .github/workflows/dartdoc.txt
  .github/workflows/dartdoc.yml
Labels: github_actions

#664 feat: 659 - support of product field "packagingsComplete"
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/open_food_api_client.dart
  lib/src/utils/json_helper.dart
  lib/src/utils/product_fields.dart
  test/api_save_product_v3_test.dart
Labels: packaging
