Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2022-08, with the labels that each got.

#533 feat: #516 - API v2 for multi barcode search
  lib/utils/ProductListQueryConfiguration.dart
Labels: search

#522 feat: #517 - added ECOSCORE and NUTRISCORE sort-by options
  lib/model/parameter/SortBy.dart
  test/api_searchProducts_test.dart
Labels: search

#525 feat: #524 - added ingredients analysis tags (vegan, vegetarian, palm oil free)
  lib/model/IngredientsAnalysisTags.dart
  lib/model/parameter/IngredientsAnalysisParameter.dart
  test/api_searchProducts_test.dart
Labels: search

#532 feat: #531 - new StatesTagsParameter search filter
  lib/model/State.dart
  lib/model/parameter/StatesTagsParameter.dart
  test/api_searchProducts_test.dart
Labels: search

#527 feat: #526 - new AllergensParameter search filter
  lib/model/Allergens.dart
  lib/model/parameter/AllergensParameter.dart
  test/api_searchProducts_test.dart
Labels: search

#543 ci: Run sdk tests daily (twice)
  .github/workflows/test-sdk.yml
Labels: github_actions

#547 feat: add funding links
  pubspec.yaml
Labels: pubspec
