Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2022-04, with the labels that each got.

#427 ci: add tests coverage to github workflow
  .github/workflows/test-sdk.yml
Labels: github_actions

#429 ci: fix coverage collection
  .github/workflows/test-sdk.yml
  pubspec.yaml
Labels: github_actions, pubspec

#433 ci: auto add new issues to gh projects
  .github/workflows/github-projects.yml
Labels: github_actions

#437 ci: Update dependabot.yml
  .github/dependabot.yml
Labels: github_actions

#446 ci: Disable Add to GitHub Projects on forks
  .github/workflows/github-projects.yml
Labels: github_actions

#442 feat: Username max length
  lib/openfoodfacts.dart
  test/user_management_test.dart
Labels: user account

#444 feat: Barcodes validation for EAN8 & EAN13
  lib/utils/BarcodesValidator.dart
  test/barcode_validator_test.dart
Labels: scanning, scan

#423 feat: Support for Product - No nutrition data field
  lib/model/Nutriments.dart
  lib/model/Product.dart
  lib/model/Product.g.dart
  lib/utils/JsonHelper.dart
  lib/utils/ProductFields.dart
  test/api_getProduct_test.dart
  test/api_saveProduct_test.dart
Labels: nutrition-input

#443 fix: coordinates_image_size is no subtype of String
  lib/utils/JsonHelper.dart
  test/api_searchProducts_test.dart
Labels: test

#456 feat: Expose to Attribute related panelID
  .gitignore
  lib/model/Attribute.dart
  test/api_getProduct_test.dart
Labels: test

#460 ci: autoassign PR
  .github/workflows/auto-assign-pr.yml
Labels: github_actions
