Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2022-10, with the labels that each got.

#558 fix: make GitHub Projects more resilient
  .github/workflows/github-projects.yml
Labels: github_actions

#583 feat: #579 - new method to log in, that returns data about user
  lib/model/LoginStatus.dart
  lib/openfoodfacts.dart
  test/api_getProduct_test.dart
  test/api_searchProducts_test.dart
  test/user_management_test_prod.dart
  test/user_management_test_test_env.dart
Labels: user account

#585 fix: Also return [LoginStatus] when not logged in
  lib/model/LoginStatus.dart
  lib/openfoodfacts.dart
  test/user_management_test_test_env.dart
Labels: user account, test

#591 style: no_leading_underscores_for_local_identifiers
  test/api_addProductImage_test.dart
  test/api_events_test.dart
  test/api_folksonomy_test.dart
  test/api_getProduct_test.dart
  test/api_getTaxonomyAdditivesServer_test.dart
  test/api_getTaxonomyAllergensServer_test.dart
  test/api_getTaxonomyCountriesServer_test.dart
  test/api_getTaxonomyIngredientsServer_test.dart
  test/api_getTaxonomyPackagingsServer_test.dart
  test/api_getToBeCompletedProducts_test.dart
  test/api_getUserProducts_test.dart
  test/api_get_autocompleted_suggestions_test.dart
  test/api_ocrIngredients_test.dart
  test/api_saveProduct_test.dart
  test/api_searchProducts_test.dart
  test/ordered_nutrient_test.dart
Labels: test
