Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2022-03, with the labels that each got.

#398 test: added disabled test about nutrition
  test/api_saveProduct_test.dart
Labels: nutrition-facts, test, nutrition-input

#404 Update label.yml
  .github/workflows/label.yml
Labels: github_actions

#402 feat: #401 - added packaging taxonomy
  lib/model/TaxonomyPackaging.dart
  lib/model/TaxonomyPackaging.g.dart
  lib/openfoodfacts.dart
  test/api_getTaxonomyPackagingsServer_test.dart
Labels: packaging, taxonomies

#419 fix: actually upload an image on a random product
  lib/utils/ImageHelper.dart
  lib/utils/OpenFoodAPIConfiguration.dart
  test/api_addProductImage_test.dart
Labels: test

#424 fix: #349 - removed irrelevant "create event" classes and methods
  lib/events.dart
  lib/model/EventCreate.dart
  lib/model/EventCreate.g.dart
  lib/openfoodfacts.dart
  test/api_events_test.dart
  test/api_getRobotoff_test.dart
Labels: gamification
