Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2022-01, with the labels that each got.

#351 feat: #350 - new method getProductFreshness
  lib/model/ProductFreshness.dart
  lib/openfoodfacts.dart
  test/api_searchProducts_test.dart
Labels: data freshness

#358 fix: #357 - added forgotten "toJson: UnitHelper.unitToString"s (tons of them!)
  lib/model/Nutriments.dart
  lib/model/Nutriments.g.dart
  test/api_saveProduct_test.dart
Labels: nutrition-facts

#364 feat: KP: Parse Size from server response
  lib/model/KnowledgePanel.dart
  lib/model/KnowledgePanel.g.dart
Labels: knowledge panels
