Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2023-07, with the labels that each got.

#748 feat: Allow to pass `insight_types` to `api/v1/questions/$barcode`
  lib/src/robot_off_api_client.dart
  test/api_get_robotoff_test.dart
Labels: test

#754 feat: Allow to pass a country and/or a language to the `register` user method
  lib/src/open_food_api_client.dart
  test/user_management_test_prod.dart
Labels: signup, user account, test

#747 ci: release
  .github/workflows/release-please.yml
Labels: github_actions

#762 fix: issue with JSON conversion of packagings data
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/utils/json_helper.dart
  pubspec.yaml
  test/issue752_test.dart
Labels: test, pubspec

#761 chore: add permissions to release_to_pub
  .github/workflows/release_to_pub.dev.yml
Labels: github_actions

#766 fix: issue with converting LocalizedTags to JSON
  lib/src/model/localized_tag.dart
  lib/src/model/product_packaging.dart
  lib/src/model/product_packaging.g.dart
  test/issue752_test.dart
  test/json_conversion_test.dart
Labels: test
