Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2023-12, with the labels that each got.

#845 feat: 831 - Open Prices API - "get prices"
  .github/labeler.yml
  lib/openfoodfacts.dart
  lib/src/open_prices_api_client.dart
  lib/src/prices/currency.dart
  lib/src/prices/get_prices_result.dart
  lib/src/prices/get_prices_result.g.dart
  lib/src/prices/get_prices_results.dart
  lib/src/prices/location_osm_type.dart
  lib/src/prices/price.dart
  lib/src/prices/price.g.dart
  lib/src/prices/validation_error.dart
  lib/src/prices/validation_error.g.dart
  lib/src/prices/validation_errors.dart
  lib/src/prices/validation_errors.g.dart
  lib/src/utils/http_helper.dart
  test/api_prices_test.dart
Labels: Prices

#857 fix: If `product -> images` is `null`, `getProductImageIds`shouldn't crash
  lib/src/open_food_api_client.dart
  test/api_get_product_image_ids_test.dart
Labels: 🧪 Tests, 🖼️ images

#839 feat: simplified access to raw product images
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/model/product_image.dart
  lib/src/open_food_api_client.dart
  lib/src/utils/image_helper.dart
  lib/src/utils/json_helper.dart
  lib/src/utils/product_helper.dart
  test/api_get_product_image_ids_test.dart
  test/api_get_product_test.dart
  test/api_get_save_product_test.dart
  test/api_json_to_from_test.dart
Labels: 🖼️ images
