Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2023-11, with the labels that each got.

#823 feat: new field pageCount for searchResult
  lib/src/model/search_result.dart
  lib/src/model/search_result.g.dart
  test/api_get_user_products_test.dart
  test/api_search_products_test.dart
Labels: 🔎 Search

#824 doc: add pubspec topics
  pubspec.yaml
Labels: pubspec

#827 ci: downgrade codecov
  .github/workflows/test-sdk.yml
Labels: github_actions

#821 chore: pnnsGroup refactoring
  lib/src/model/parameter/pnns_group2_filter.dart
  lib/src/utils/pnns_groups.dart
Labels: PNNS groups

#830 fix: 829 - no more crash if the user name is not ASCII/ISO-8859-1
  lib/src/utils/http_helper.dart
  test/user_management_test_test_env.dart
Labels: user account

#834 feat: 620 - Elastic Search autocomplete for categories
  lib/openfoodfacts.dart
  lib/src/open_food_search_api_client.dart
  lib/src/search/autocomplete_search_result.dart
  lib/src/search/autocomplete_search_result.g.dart
  lib/src/search/autocomplete_single_result.dart
  lib/src/search/autocomplete_single_result.g.dart
  lib/src/search/fuzziness_level.dart
  lib/src/search/taxonomy_name.dart
  lib/src/utils/uri_helper.dart
  test/api_search_test.dart
Labels: autocomplete, 🔎 Search

#832 ci: emojis + more entries
  .github/labeler.yml
Labels: GitHub Actions

#840 ci: image labeler
  .github/labeler.yml
Labels: GitHub Actions

#835 feat: 620 - autocomplete for all taxonomy names and fuzziness levels
  lib/src/open_food_search_api_client.dart
  lib/src/search/fuzziness_level.dart
  lib/src/search/taxonomy_name.dart
  test/api_search_test.dart
Labels: ✨ enhancement, autocomplete, 🔎 Search
