Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2024-09, with the labels that each got.

#958 ci: Create merge-conflict-autolabel.yml
  .github/workflows/merge-conflict-autolabel.yml
Labels: GitHub Actions

#959 ci: top issues
  .github/workflows/top-issues.yml
Labels: GitHub Actions

#967 feat: edit methods for folksonomy
  lib/src/folksonomy.dart
  lib/src/prices/price_per.dart
  lib/src/utils/http_helper.dart
  test/api_folksonomy_test.dart
Labels: 🔖 Folksonomy engine

#968 ci: Folksonomy engine labeler
  .github/labeler.yml
Labels: GitHub Actions

#965 ci: Update github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

#973 feat: 972 - new "product_type" field for Product
  lib/openfoodfacts.dart
  lib/src/model/product.dart
  lib/src/model/product.g.dart
  lib/src/model/product_type.dart
Labels: 🧴 Open Beauty Facts, 📸 Open Products Facts, 🐾 Open Pet Food Facts

#975 ci: dispatcher to track releases across OFF
  .github/workflows/github-projects.yml
Labels: GitHub Actions

#980 fix: Update github-projects.yml for OPF
  .github/workflows/github-projects.yml
Labels: GitHub Actions
