Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2024-06, with the labels that each got.

#939 ci: Update labeler.yml
  .github/labeler.yml
Labels: GitHub Actions

#901 fix: 900 - for KnowledgePanelActionElement html is now optional
  lib/src/model/knowledge_panel_element.dart
  lib/src/model/knowledge_panel_element.g.dart
Labels: 📖 Knowledge panels

#904 feat: 890 - new method getLocalizedCountryNames
  lib/src/open_food_api_client.dart
  test/api_get_product_test.dart
Labels: country

#938 fix: added "app_name" parameter for prices methods uploadProof and createPrice
  lib/src/model/parameter/page_size.dart
  lib/src/open_prices_api_client.dart
  lib/src/prices/currency.dart
  lib/src/prices/price.dart
  lib/src/prices/proof.dart
  lib/src/prices/proof_type.dart
  test/api_get_taxonomy_origins_server_test.dart
  test/api_get_user_products_test.dart
  test/api_prices_test.dart
  test/api_search_products_test.dart
  test/api_suggestion_manager_test.dart
Labels: Prices
