Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2024-04, with the labels that each got.

#897 feat: 831 - latest "prices" API changes
  lib/openfoodfacts.dart
  lib/src/open_prices_api_client.dart
  lib/src/prices/get_locations_order.dart
  lib/src/prices/get_locations_parameters.dart
  lib/src/prices/get_locations_result.dart
  lib/src/prices/get_locations_result.g.dart
  lib/src/prices/get_prices_order.dart
  lib/src/prices/get_prices_parameters.dart
  lib/src/prices/get_prices_results.dart
  lib/src/prices/order_by.dart
  lib/src/prices/validation_error.dart
  lib/src/prices/validation_error.g.dart
  lib/src/prices/validation_errors.dart
  lib/src/prices/validation_errors.g.dart
  test/api_prices_test.dart
Labels: Prices

#899 fix: new format for the labeler
  .github/labeler.yml
Labels: GitHub Actions

#912 fix: auth label
  .github/labeler.yml
Labels: GitHub Actions

#911 feat: Allow to receive a cookie and send it later
  lib/src/model/login_status.dart
  lib/src/model/user.dart
  lib/src/open_food_api_client.dart
  lib/src/utils/http_helper.dart
Labels: ✨ enhancement, 🔐 Authentification
