Repository openfoodfacts/openfoodfacts-dart, pull requests merged in 2024-07, with the labels that each got.

#903 feat: 893 - 4 new fields for user
  lib/src/model/login_status.dart
  lib/src/open_food_api_client.dart
  test/user_management_test_prod.dart
  test/user_management_test_test_env.dart
Labels: 👥 user account

#943 fix: 941 - respect rate-limits during integration tests
  lib/openfoodfacts.dart
  lib/src/open_food_api_client.dart
  lib/src/prices/get_locations_order.dart
  lib/src/prices/get_proofs_order.dart
  lib/src/utils/too_many_requests_exception.dart
  lib/src/utils/too_many_requests_manager.dart
  test/api_get_localized_product_test.dart
  test/api_get_product_image_ids_test.dart
  test/api_get_product_test.dart
  test/api_get_to_be_completed_products_test.dart
  test/api_get_user_products_test.dart
  test/api_json_to_from_test.dart
  test/api_matched_product_v1_test.dart
  test/api_matched_product_v2_test.dart
  test/api_not_food_get_product_test.dart
  test/api_ocr_ingredients_test.dart
  test/api_search_products_test.dart
Labels: 🚄 Performance

#954 ci: typo in test-sdk.yml
  .github/workflows/test-sdk.yml
Labels: GitHub Actions

#955 feat: 951 - new method User.getUserWikiPage
  lib/src/model/user.dart
  test/api_get_save_product_test.dart
  test/user_management_test_prod.dart
Labels: 👥 user account, 🕹️ Gamification
